@-webkit-keyframes bounce {
0% {
  -webkit-transform: translateY(-2000px) translate(-50%, 0);
          transform: translateY(-2000px) translate(-50%, 0);
}
70% {
  -webkit-transform: translateY(30px) translate(-50%, 0);
          transform: translateY(30px) translate(-50%, 0);
}
90% {
  -webkit-transform: translateY(-10px) translate(-50%, 0);
          transform: translateY(-10px) translate(-50%, 0);
}
100% {
  -webkit-transform: translateY(0) translate(-50%, 0);
          transform: translateY(0) translate(-50%, 0);
}
}

@keyframes bounce {
0% {
  -webkit-transform: translateY(-2000px) translate(-50%, 0);
          transform: translateY(-2000px) translate(-50%, 0);
}
70% {
  -webkit-transform: translateY(30px) translate(-50%, 0);
          transform: translateY(30px) translate(-50%, 0);
}
90% {
  -webkit-transform: translateY(-10px) translate(-50%, 0);
          transform: translateY(-10px) translate(-50%, 0);
}
100% {
  -webkit-transform: translateY(0) translate(-50%, 0);
          transform: translateY(0) translate(-50%, 0);
}
}

@-webkit-keyframes shake {
0%,
100% {
  -webkit-transform: translate(-50%, -50%) translateX(0);
          transform: translate(-50%, -50%) translateX(0);
}
10%,
30%,
50%,
70%,
90% {
  -webkit-transform: translate(-50%, -50%) translateX(-10px);
          transform: translate(-50%, -50%) translateX(-10px);
}
20%,
40%,
60%,
80% {
  -webkit-transform: translate(-50%, -50%) translateX(10px);
          transform: translate(-50%, -50%) translateX(10px);
}
}

@keyframes shake {
0%,
100% {
  -webkit-transform: translate(-50%, -50%) translateX(0);
          transform: translate(-50%, -50%) translateX(0);
}
10%,
30%,
50%,
70%,
90% {
  -webkit-transform: translate(-50%, -50%) translateX(-10px);
          transform: translate(-50%, -50%) translateX(-10px);
}
20%,
40%,
60%,
80% {
  -webkit-transform: translate(-50%, -50%) translateX(10px);
          transform: translate(-50%, -50%) translateX(10px);
}
}

.show {
display: block;
-webkit-animation-name: bounce;
        animation-name: bounce;
-webkit-animation-duration: 0.6s;
        animation-duration: 0.6s;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, 0) translateX(0);
            transform: translate(-50%, 0) translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-50%, 0) translateX(-10px);
            transform: translate(-50%, 0) translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-50%, 0) translateX(10px);
            transform: translate(-50%, 0) translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, 0) translateX(0);
            transform: translate(-50%, 0) translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-50%, 0) translateX(-10px);
            transform: translate(-50%, 0) translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-50%, 0) translateX(10px);
            transform: translate(-50%, 0) translateX(10px);
  }
}

.error {
  -webkit-animation-name: shake;
    animation-name: shake;
  -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
