.page-footer {
  width: 1200px;
  margin: 0 auto;
  background-color: $text-dark-blue;
}

.page-footer__container {
  width: 940px;
  margin: 0 auto;
}

.page-footer__logo-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 23px;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  box-sizing: border-box;
  width: 220px;
  height: 68px;
  box-shadow: inset 0 -4px 4px 0 $transparent-black-1;
  background-color: $basic-red;
}

.page-footer__logo:active {
  background-color: $active-red;
}

.page-footer__nav-list {
  margin: 0;
  padding: 37px 0 0 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.page-footer__nav-item + .page-footer__nav-item {
  margin-left: 59px;
}

.page-footer__nav-link {
  text-decoration: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: $basic-grey;
}

.page-footer__nav-link:hover {
  text-decoration: underline;
}

.page-footer__nav-link:active {
  text-decoration: none;
  opacity: 0.3;
}

.page-footer__address-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 54px;
}

.page-footer__address,
.page-footer__phone {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: $footer-text-grey;
  text-decoration: none;
}

.page-footer__user-nav {
  margin: 0;
  padding: 5px 0 0 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.page-footer__user-nav-item + .page-footer__user-nav-item {
  margin-left: 59px;
}

.page-footer__user-nav-link {
  text-decoration: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: $footer-text-yellow;
}

.page-footer__user-nav-link:hover {
  text-decoration: underline;
}

.page-footer__user-nav-link:active {
  text-decoration: none;
  opacity: 0.3;
}

.page-footer__copyright-social-wrapper {
  background-color: $basic-dark-blue;
  padding-top: 37px; 
  padding-bottom: 30px;
}

.page-footer__copyright-social-wrapper .page-footer__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.page-footer__company {
  margin: 0 162px 0 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $basic-white;
}

.page-footer__social-list {
  margin: 0 110px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $footer-dark-blue;
}

.page-footer__social-link:hover {
  background-color: $basic-red;
}

.page-footer__social-link:active svg {
  opacity: 0.3;
}

.page-footer__social-item + .page-footer__social-item {
  margin-left: 5px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
}

.page-footer__copyright-link {
  margin: 0;
  padding: 0;
}



.page-footer__developer {
  margin: 0;
  padding: 0;
}

.page-footer__copyright-link-text {
  margin: 0 52px 0 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.page-footer__copyright-link-text span {
  color: $basic-white;
}

.page-footer__copyright-link-text a {
  text-decoration: none;
  color: $footer-text-yellow;
}

.page-footer__copyright-link:hover  {
  text-decoration: underline;
}

.page-footer__copyright-link:active  {
  text-decoration: none;
  color: $basic-red;
}

.page-footer__developer {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.page-footer__developer span {
  color: $basic-white;
}

.page-footer__developer a {
  text-decoration: none;
  color: $footer-text-yellow;
}

.page-footer__developer-link:hover {
  text-decoration: underline;
}

.page-footer__developer-link:active {
  text-decoration: none;
  color: $basic-red;
}
